.navbar {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
  padding: 0 20px;
}

@media (min-width: 600px) {
  .navbar {
    gap: 122px;
    margin-top: 32px;
  }
}

.navbar__logo {
  width: 48px;
  height: 48px;
  margin: 0 20px;
}

.navbar__link {
  text-decoration: none;
  color: #3a1212;
}

.navbar__link--home {
  border-bottom: 3px solid #00a5e0; /* Bright Blue */
}

.link-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 24px;
  align-items: flex-end;
}
